@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Regular.ttf");
}
* {
    box-sizing: border-box;
}

:root {
    --default-duration: 3s;
}

:root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;

    padding: 0 5vw;
    background-color: #d0dae3;

    color: white;
    font-size: 15px;

    > * {
        flex: 0 0 auto;

        border-radius: 50px;
        border: 3px black;
        width: 120px;
        height: 120px;
        background-color: transparent;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        text-align: center;
    }

}

button:first-child {
    min-width: 200px;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #121111;
    background-color: #0f0f2b;
}

.rotate-on-hover {
    border-radius: 10px;
    background-color: rebeccapurple;
    animation-duration: 1.7s;
    rotate: 0;

    &:hover {
        animation-name: rotate;
    }
}

.rotate-twice {
    rotate: 0;

    animation-name: rotate;
    animation-duration: var(--default-duration);
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

    border-radius: 10px;
    background-color: maroon;
}

.pause-on-hover {
    background-color: orange;
    animation: slide var(--default-duration) alternate infinite;

    &:hover {
        animation-play-state: paused;
    }
}

.slide-with-fill-forwards, .slide-with-fill-backwards {
    translate: 0;
    animation-name: slide, mark-color;
    animation-duration: var(--default-duration);
    animation-delay: 2.5s;
}

.slide-with-fill-forwards {
    background-color: mediumturquoise;
    animation-fill-mode: forwards;
}

.slide-with-fill-backwards {
    background-color: mediumturquoise;
    animation-fill-mode: backwards;
}


@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 179deg;
    }
}

@keyframes slide {
    from {
        translate: 0 0;
    }
    to {
        translate: 400px 0;
    }
}

@keyframes mark-color {
    from {
        border-color: salmon;
        background-color: #146e67;
    }
    to {
        border-color: salmon;
        background-color: #146e67;
    }
}