@import "buttons.css";

button {
    cursor: pointer;

    &:active {
        cursor: grabbing;
    }
}

button:not(.dark-light-button):active {
    cursor: url("panel-border-010.png");
    -bevy-cursor-image-hotspot-x: 48;
    -bevy-cursor-image-hotspot-y: 48;
}
