@import "buttons.css";

button {
    cursor: pointer;

    &:active {
        cursor: grabbing;
    }
}

button:not(.dark-light-button):active {
    -bevy-cursor-image: url("panel-border-010.png");
    -bevy-cursor-image-rect: true;
}
