@import "buttons.css";

button {
    -bevy-cursor-system: pointer;

    &:active {
        cursor: grabbing;
    }
}

button:not(.dark-light-button):active {
    cursor: url("panel-border-010.png");
}
