@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Regular.ttf");
}

* {
    box-sizing: border-box;
}

:root {
    width: 100%;
    height: 100%;
    font-family: "FiraSans";
}

:root > text {
    font-size: 20px;

    position: absolute;
    left: 5px;
    bottom: 5px;

    z-index: 2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    height: 100%;

    .box {
        flex: 0 0 auto;

        border-radius: 50px;
        border: 1px black;
        width: 120px;
        height: 120px;
        background-color: orangered;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        color: white;
        font-size: 40px;
    }
}

.slide {
    background-color: orange;
    animation: slide 2s alternate backwards infinite;

    &:nth-child(1) {
        animation-delay: 1s;
        animation-timing-function: ease;
    }

    &:nth-child(2) {
        animation-delay: 2s;
        animation-timing-function: ease-in-out;
    }

    &:nth-child(3) {
        animation-delay: 3s;
        animation-timing-function: linear;
    }

    &:nth-child(4) {
        animation-delay: 4s;
        animation-timing-function: cubic-bezier(0.99, 0.02, 0.74, 0.77);
    }
}

@keyframes slide {
    from {
        translate: -200px 0;
    }
    to {
        translate: 200px 0;
    }
}
