@import "tailwind-colors.css";

@font-face {
    font-family: "Poppins-Regular";
    src: url("fonts/Poppins-Regular.ttf");
}

:root {
    display: grid;
    width: 100%;
    height: 100%;

    padding: 10vmin;
    gap: 10vmin;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    font-family: "Poppins-Regular";
    font-size: 35px;
    color: var(--color-gray-800);
    background-color: var(--color-zinc-50);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-zinc-100);
    border: 5px var(--color-zinc-400);

    /* This sets `audio` to Handle<AudioSource>::default(),
        that doesn't spawn any sound */
    -custom-sound-effect: initial;

    &:hover {
        background: var(--color-zinc-200);
        border-color: var(--color-zinc-500);
        -custom-sound-effect: url("audio/button_hover.ogg");
    }

    &:active {
        background: var(--color-gray-300);
        border-color: var(--color-gray-600);
        -custom-sound-effect: url("audio/button_click.ogg");
    }
}
