@import "tailwind-colors.css";

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "RobotoFlex";
    src: url("fonts/RobotoFlex.ttf");
}

@font-face {
    font-family: "NotoEmoji";
    src: url("fonts/NotoEmoji-Regular.ttf");
}

:root {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    --font-size-base: 1.6vh;
    --spacing-base: 0.65vh;
    --spacing-md: calc(var(--spacing-base) * 2);
    --spacing-lg: calc(var(--spacing-base) * 3);
    --spacing-xl: calc(var(--spacing-base) * 4);

    font-size: var(--font-size-base);
    font-family: "RobotoFlex";
    color: var(--color-gray-900);
}

.text-container {
    display: flex;
    flex-direction: column;

    padding: var(--spacing-md);
    align-items: start;
    justify-content: start;

    gap: var(--spacing-lg);

    width: 100%;
    height: 100%;

    background-color: var(--color-gray-50);
}

.demo-section {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md) var(--spacing-lg);

    background: var(--color-gray-100);
    border: 1px solid var(--color-gray-300);
    border-radius: 15px;
    width: 100%;

    .label {
        font-family: "Poppins-SemiBold";
        font-size: calc(var(--font-size-base) * 0.85);
    }

    .demo {
        padding: var(--spacing-md);
        display: flex;
        gap: var(--spacing-md);
        flex-direction: column;
        text-align: left;
    }
}

.underlined { text-decoration: underline red; }
.line-through { text-decoration: line-through red; }
.aliased { -bevy-font-smooth: none; }
.spaced { letter-spacing: 5px; }

a {
    color: var(--color-blue-500);
    text-decoration: none;
    &:hover {
        text-decoration: underline var(--color-blue-500);
    }
}

a::before {
    font-family: "NotoEmoji";
    font-size: 12px;
    content: "🔗";
    text-decoration: none;
}

.small { font-size: calc(var(--font-size-base) * 0.6); }

.weight-300 { font-weight: 300; }
.weight-500 { font-weight: 500; }
.weight-800 { font-weight: 800; }

.width-50 { font-width: 50%; }
.width-100 { font-width: 100%; }
.width-200 { font-width: 200%; }

.var-slnt { font-variation-settings: "slnt" -10;  }
.var-wght { font-variation-settings: "wght" 900; }

.features-liga-off, .features-liga-on {
    font-size: calc(var(--font-size-base) * 1.9);
}
.features-liga-off { font-feature-settings: "liga" off; }
.features-liga-on { font-feature-settings: "liga" on; }
